#container
{
	background-color: #e5eecc;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	height: auto;
	width: 100%;
	border: solid #c3c3c3 1px;
	min-width: 903px;
	min-height: 400px;
}

#container2
{
	background-color: #e5eecc;
}

.category_id
{
	background-color: #e5eecc;
	width: 75px;
}

#category_save
{
	position: absolute;
	left: 600px;
}

#param_list
{
	position: absolute;
	top: 50px;
	left: 0px;
	bottom: 40px;
	width: 215px;
	height: auto;
}

#param_list div.param_pair
{
	background-color: #98F7A5;
	border: 1px solid #76C481;
	width: 210px;
	height: 125px;
	margin: 5px;
}

#param_list div#hidden_param_pair
{
	display: none;
}

#param_list .key
{
	width: 200px;
	margin-left: 5px;
	margin-top: 5px;
}

#param_list .val
{
	width: 200px;
	height: 90px;
	margin-left: 5px;
	margin-bottom: 5px;
	overflow: auto;
	resize: none;
}


#left_container
{
	position: absolute;
	top: 5px;
	left: 225px;
	bottom: 40px;
	width: 38%;
	height: auto;
}

#left_container #span_html
{
	position: absolute;
	top: 30px;
	left: 48%;
}

#left_container #view_module_editor
{
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	bottom: 40px;
	resize: none;
	width: 99%;
	min-width: 400px;
	min-height: 350px;
}

#left_container .save
{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 100px;
}

#middle_container
{
	position: absolute;
	left: 55.5%;
	width: 60px;
	height: auto;
}

#middle_container .preview
{
	position: absolute;
	left: 0px;
	top: 250px;
	width: 99%;
}

#right_container
{
	position: absolute;
	top: 5px;
	right: 10px;
	bottom: 132px;
	width: 38%;
	height: auto;
}

#right_container #span_result
{
	position: absolute;
	top: 30px;
	left: 48%;
}

#right_container #html_display
{
	background-color: #ffffff;
	position: absolute;
	top: 50px;
	width: 99%;
	height: 99%;
	min-width: 400px;
	min-height: 350px;
	border: 1px solid #d3d3d3;
}